@import url("https://fonts.googleapis.com/css2?family=Inter");
:root{
    --color-primary : #27AE60;
    --color-secundar: #EB5757;
    --color-gray-0: #F5F5F5;
    --color-gray-100: #E0E0E0 ;
    --color-gray-300: #828282;
    --color-gray-600: #333333;
    --color-information: #155BCB;
    --color-sucess: #168821;
    --color-warning:#FFCD07;
    --color-negative: #E60000;

    --font-family: "Inter", sans-serif;
}